{% extends "index.html" %}

{% block content %}
<div style="text-align: center; margin-top: 1em;">
  <img
    src="{{ url_for('static', filename='images/comp_call.jpeg') }}"
    alt="Wykres 1"
    style="max-width:80%; border:1px solid #ddd; border-radius:8px;"
  >
</div>

<div style="text-align: center; margin-top: 1em;">
  <img
    src="{{ url_for('static', filename='images/comp_blad_wzg.jpeg') }}"
    alt="Wykres 1"
    style="max-width:80%; border:1px solid #ddd; border-radius:8px;"
  >
</div>

<div style="text-align: center; margin-top: 1em;">
  <img
    src="{{ url_for('static', filename='images/comp_put.jpeg') }}"
    alt="Wykres 1"
    style="max-width:80%; border:1px solid #ddd; border-radius:8px;"
  >
</div>

<div style="text-align: center; margin-top: 1em;">
  <img
    src="{{ url_for('static', filename='images/comp.jpeg') }}"
    alt="Wykres 1"
    style="max-width:80%; border:1px solid #ddd; border-radius:8px;"
  >
</div>
<div style="text-align: center; margin-top: 1em;">
  <img
    src="{{ url_for('static', filename='images/comp2.jpeg') }}"
    alt="Wykres 1"
    style="max-width:80%; border:1px solid #ddd; border-radius:8px;"
  >
</div>
{% endblock %}
